@model MvcAutofac.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Today is @Model.Day</p>

<p>String of Numbers: @Model.stringOfNumbers</p>

<p>Calculation Result: @Model.CalculationResult</p>